<!-- HERO SECTION -->
<section class="bg-light py-5">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-6">
        <h1 class="display-5 fw-bold">
          Powerful <span class="text-warning">Shopify</span> Product Management
        </h1>
        <p class="lead text-muted">
          Manage products, pricing, and inventory with a clean and scalable interface.
        </p>
        <a href="#" class="btn btn-warning btn-lg me-2">View Products</a>
        <a  class="btn btn-outline-dark btn-lg">Contact Us</a>
      </div>

      <div class="col-lg-6 text-center">
        <img src="shopifyImg.png" class="img-fluid rounded shadow">
      </div>

    </div>
  </div>
</section>

